<center><h3>Skill Analyzer</h3></center>
<% dans.each do |dan_level| %>
	<div id = <%= "dan_#{dan_level.first.first.level}" %> class="section scrollspy">
		<h3>
			<% if dan_level.first.first.level == 12 %>
				SKILL ANALYZER LEVEL.∞<br><img src = <%= asset_url "dans/12.gif" %> />
			<% elsif dan_level.first.first.level == 13 %>
				KAC THE 6TH Course
			<% else %>
				<%= "SKILL ANALYZER LEVEL.#{dan_level.first.first.level}" %><br><img src = <%= asset_url "dans/#{dan_level.first.first.level}.gif" %> />
			<% end %>
		</h3>
		<div class="divider"></div>
		<div class="section"> 
			<% dan_level.each do |dan_courses| %>
				<h4>
					<%= "#{dan_courses.first.release_date}" %>
				</h4>
				<% dan_courses.each do |dan| %>
					<span class = "dan_parent">
						<h5><%= "#{dan.name}" %></h5>
							<div class = <%= dan.user_clear(@user.id) %> onclick= "dan_update(this, <%= dan.id %>)">
								<img src = <%= asset_url "song#{dan.song(1).photo}" %> class = "dan_song" /><img src = <%= asset_url "song#{dan.song(2).photo}" %> class = "dan_song" /><img src = <%= asset_url "song#{dan.song(3).photo}" %> class = "dan_song" />
								<a href= <%= "/difficulty/#{dan.song(1).id}" %>><img class="dan_difficulty_1_tag" src = <%= asset_url "difficulty/#{dan.song(1).difficulty_name}.png" %> /></a>
								<a href= <%= "/difficulty/#{dan.song(2).id}" %>><img class="dan_difficulty_2_tag" src = <%= asset_url "difficulty/#{dan.song(2).difficulty_name}.png" %> /></a>
								<a href= <%= "/difficulty/#{dan.song(3).id}" %>><img class="dan_difficulty_3_tag" src = <%= asset_url "difficulty/#{dan.song(3).difficulty_name}.png" %> /></a>
								<img class="dan_score_tag" src = <%= asset_url "grades/#{dan.user_score(@user.id)}.png" %> />
							</div>
					</span>
				<% end %>
				<br>
				<br>
			<% end %>
		</div>
	</div>
<% end %>