<div class="container">
  <div class = "row">
    <div class = "col s12 m8 l6 offset-l3 offset-m2">

    <%= simple_form_for(user) do |f| %>
      <% if user.errors.any? %>
        <% user.errors.full_messages.each do |message| %>
          <script>
            $(function() {
              Materialize.toast('<%= message %>', 15000, 'red');
            });
          </script>
        <% end %>
      <% end %>

      <div class="container">
        <div class="input-field">
          <%= f.input :username, label_html: { class: 'active' }, placeholder: 'Enter username, all lowercase'%>
          <%= f.input :password, label_html: { class: 'active' }, placeholder: 'Mininum length: 8 characters'%>
          <%= f.input :password_confirmation, label_html: { class: 'active' }, placeholder: 'Input same password', required: true %>
          <%= f.input :display_name, label_html: { class: 'active' }, placeholder: 'Your SDVX name, max 8 characters' %>
          <%= f.input :email, as: :string, label_html: { class: 'active' }, placeholder: 'Your e-mail' %>
        </div>

        <center>
          <div class="actions">
            <%= f.button :submit, class: "btn waves-effect waves-light"%>
          </div>
        </center>
      </div>
    <% end %>
    </div>
  </div>
</div>
