<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <% user.errors.full_messages.each do |message| %>
      <script>
        $(function() {
          Materialize.toast('<%= message %>', 15000, 'red');
        });
      </script>
    <% end %>
  <% end %>

  <div class="container">
    <div class="input-field">
      <%= f.label :username %>
      <%= f.text_field :username %>
    </div>

    <div class="input-field">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <div class="input-field">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
    </div>

    <div class="input-field">
      <%= f.label :display_name %>
      <%= f.text_field :display_name %>
    </div>

    <div class="input-field">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>

    <div class="actions">
      <%= f.button :submit %>
    </div>
  </div>
<% end %>
