<div class="toc-wrapper">
	<% if can? :manage, @user %>
    	<a class="waves-effect waves-light btn blue" onclick="change_status()">Clear</a>
    <% end %>
	<ul class="section table-of-contents">
	<h5>Level<%= level19 %></h5>
		<% tier19.each do |tier| %>
			<% if tier.exists? %>
				<li><a href=<%= "##{level19}_#{tier.first.tier}" %> class = "">
					<% if tier.first.tier == "N" %>
						Not Rated
					<% elsif tier.first.tier == "P" %>
						Personal
					<% else %>
						<%= tier.first.tier %>
					<% end %>
				</a></li>
			<% end %>
		<% end %>
	<h5>Level<%= level20 %></h5>
		<% tier20.each do |tier| %>
			<% if tier.exists? %>
				<li><a href=<%= "##{level20}_#{tier.first.tier}" %>>
					<% if tier.first.tier == "N" %>
						Not Rated
					<% elsif tier.first.tier == "P" %>
						Personal
					<% else %>
						<%= tier.first.tier %>
					<% end %>
				</a></li>
			<% end %>
		<% end %>
	<br>
	<li><a href="#top">Top</a></li>
	</ul>
</div>

<!-- figure out how I can create page without having all userstats -->