<div class="toc-wrapper">
	<% if can? :manage, @user %>
    	<a class="waves-effect waves-light btn blue" onclick="change_status(this)">Clear</a>
    <% end %>
	<ul class="section table-of-contents">
	Courses
	<% dans.each do |dan_level| %>
		<% if !(dan_level.nil?) %>
			<% if dan_level.first.first.level == 12 %>
				<li><a href=<%= "#dan_#{dan_level.first.first.level}" %>>LEVEL.∞</a></li>
			<% elsif dan_level.first.first.level == 13 %>
				<br>
				<li><a href=<%= "#dan_#{dan_level.first.first.level}" %>>KAC 6TH</a></li>
			<% elsif dan_level.first.first.level == 14 %>
				<br>
				<li><a href=<%= "#dan_#{dan_level.first.first.level}" %>>天下一コース</a></li>
			<% else %>
				<li><a href=<%= "#dan_#{dan_level.first.first.level}" %>>LEVEL.<%= dan_level.first.first.level %></a></li>
			<% end %>
		<% end %>
	<% end %>
	<br>
	<li><a href="#top">Top</a></li>
	</ul>
</div>