<center><h3>Level <%= level %></h3></center>
<% tiers.each do |tier| %>
	<% if tier.exists? %>
	<div id = <%= "#{level}_#{tier.first.tier}" %> class="section scrollspy">
		<h4>
		<% if tier.first.tier == "N" %>
			Not Rated
		<% elsif tier.first.tier == "P" %>
			Personal
		<% else %>
			<%= tier.first.tier %>
		<% end %>	
		</h4>
		
		<div class="divider"></div>
		<div class="section">
			<% tier.each do |difficulty| %>
				<span class="parent">
					<div class="song"><%= image_tag("song#{difficulty.photo}", class: difficulty.user_clear(@user.id), onclick: "update(this.parentElement.parentElement, #{difficulty.id})", title: "#{difficulty.song_name}\nCLEAR: #{difficulty.clear_rate}") %></div>
					<a href= <%= "/difficulty/#{difficulty.id}" %>><img class="difficulty_tag" src = <%= asset_url "difficulty/#{difficulty.difficulty_name}.png" %> />
					</a>
					<img class="score_tag" src = <%= asset_url "grades/#{difficulty.user_score(@user.id)}.png" %> />
				</span>
			<% end %>
		</div>
	</div>
	<% end %>
<% end %>
