<h3>Level <%= level %></h3>
<% difficulties.each do |difficulty| %>
  <span class="parent">
    <img class=<%= difficulty.user_clear(@user.id) %> src= <%= asset_url "song#{difficulty.photo}" %> onclick="update_clear(this, <%= difficulty.id %>)" />
    <img class="difficulty_tag" src = <%= asset_url "difficulty/#{difficulty.difficulty_name}.png" %> />
  </span>
<% end %>

<!-- figure out how I can create page without having all userstats -->