<center><h3>Admin Panel</h3></center>

<div class="container">
	<div class="row">
		<div class="col s12 m6">
			<h5>All Comments</h5>
			<% @all_comments.each do |comment| %>
				<%= comment.user.display_name %>:
				<br>
				<%= comment.content %>
				<br>
				Votes: <%= comment.reports %>
				Reports: <%= comment.user_votes %>
				<br>
				<a id = <%= "delete_#{comment.id}" %>
					class = "btn-floating waves-effect waves-light red"><i class="material-icons">keyboard_arrow_down</i></a>			
			<% end %>
		</div>
		<div class="col s12 m6">
			<h5>Reported Comments</h5>
			<% @reported_comments.each do |comment| %>
				<div id = "reported_#{comment.id}">
					<%= comment.user.display_name %>:
					<br>
					<%= comment.content %>
					<br>
					Votes: <%= comment.reports %>
					Reports: <%= comment.user_votes %>
					<br>
					<a id = <%= "remove_count_#{comment.id}" %>
						class= "btn-floating waves-effect waves-light green"><i class="material-icons">keyboard_arrow_up</i></a>
					<a id = <%= "delete_#{comment.id}" %>
						class = "btn-floating waves-effect waves-light red"><i class="material-icons">keyboard_arrow_down</i></a>			
				</div>
			<% end %>
		</div>
	</div>
</div>