  <div class="container">
    <div class = "row" style="height:100px">
      <div class = "col s8 offset-s2">
        <center><h2><%= @user.display_name %><!--<a href="#stats-modal"><i class="small material-icons black-text">info_outline</i></a>--></h2></center>
      </div>
    </div>
    <div class = "row">
      <div class = "col s12 m10 offset-m1">
        <ul class="tabs tabs-fixed-width" id="level">
          <li class="tab"><a href="#tab-1" class="active">Level 15</a></li>
          <li class="tab"><a href="#tab-2">Level 16</a></li>
          <li class="tab"><a href="#tab-3">Level 17</a></li>
          <li class="tab"><a href="#tab-4">Level 18</a></li>
          <li class="tab"><a href="#tab-5">Level 19 - 20</a></li>
          <li class="tab"><a href="#tab-6">SKILL ANALYZER</a></li>
        </ul>
      </div>
    </div>
    <div class = "row">
      <div class = "col hide-on-small-only m1">
        <%= render 'left-menu' %>
      </div>
      <div id="tab-1">
        <div class = "col s12 m10 offset">
          <%= render 'userstatview', tiers: @level_15, level: 15 %>
        </div>
        <div class = "col hide-on-small-only m1">
          <%= render 'scrollspy', tiers: @level_15, level: 15 %>
        </div>
      </div>
      <div id="tab-2">
        <div class="col s12 m10">
          <%= render 'userstatview', tiers: @level_16, level: 16 %>
        </div>
        <div class = "col hide-on-small-only m1">
          <%= render 'scrollspy', tiers: @level_16, level: 16 %>
        </div>
      </div>
      <div id="tab-3">
        <div class="col s12 m10">
          <%= render 'userstatview', tiers: @level_17, level: 17 %>
        </div>
        <div class = "col hide-on-small-only m1">
          <%= render 'scrollspy', tiers: @level_17, level: 17 %>
        </div>
      </div>
      <div id="tab-4">
        <div class="col s12 m10">
          <%= render 'userstatview', tiers: @level_18, level: 18 %>
        </div>
        <div class = "col hide-on-small-only m1">
          <%= render 'scrollspy', tiers: @level_18, level: 18 %>
        </div>
      </div>
      <div id="tab-5">
        <div class="col s12 m10">
          <%= render 'userstatview', tiers: @level_19, level: 19 %>
          <%= render 'userstatview', tiers: @level_20, level: 20 %>
        </div>
        <div class = "col hide-on-small-only m1">
          <%= render 'scrollspylast', tier19: @level_19, level19: 19, tier20: @level_20, level20: 20 %>
        </div>
      </div>
      <div id="tab-6">
        <div class="col s12 m10">
          <%= render 'dans', dans: @dans_default %>
        </div>
        <div class = "col hide-on-small-only m1">
          <%= render 'scrollspydan', dans: @dans_default %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- instruction div here -->
<%= render 'instruction-modal' %>
<%= render 'stats-modal' %>


<%= javascript_include_tag 'test' %>