<center><h2><%= @user.display_name %>'S STATS</h2></center>
<div class="container">
  <div class = "row">
    <div class = "col s12 m10 offset-m1">
      <ul class="tabs tabs-fixed-width" id="level">
        <li class="tab"><a href="#tab-1">Level 15</a></li>
        <li class="tab"><a href="#tab-2">Level 16</a></li>
        <li class="tab"><a href="#tab-3">Level 17</a></li>
        <li class="tab"><a href="#tab-4">Level 18</a></li>
        <li class="tab"><a href="#tab-5">Level 19 - 20</a></li>
      </ul>
    </div>
  </div>
  <div class = "row">
    <div id="tab-1">
      <div class = "col s12 m10 offset-m1">
        <%= render 'userstatview', tiers: @level_15, level: 15 %>
      </div>
      <div class = "col hide-on-small-only m1">
        <%= render 'scrollspy', tiers: @level_15, level: 15 %>
      </div>
    </div>
    <div id="tab-2">
      <div class="col s12 m10 offset-m1">
        <%= render 'userstatview', tiers: @level_16, level: 16 %>
      </div>
      <div class = "col hide-on-small-only m1">
        <%= render 'scrollspy', tiers: @level_16, level: 16 %>
      </div>
    </div>
    <div id="tab-3">
      <div class="col s12 m10 offset-m1">
        <%= render 'userstatview', tiers: @level_17, level: 17 %>
      </div>
      <div class = "col hide-on-small-only m1">
        <%= render 'scrollspy', tiers: @level_17, level: 17 %>
      </div>
    </div>
    <div id="tab-4">
      <div class="col s12 m10 offset-m1">
        <%= render 'userstatview', tiers: @level_18, level: 18 %>
      </div>
      <div class = "col hide-on-small-only m1">
        <%= render 'scrollspy', tiers: @level_18, level: 18 %>
      </div>
    </div>
    <div id="tab-5">
      <div class="col s12 m10 offset-m1">
        <%= render 'userstatview', tiers: @level_19, level: 19 %>
        <%= render 'userstatview', tiers: @level_20, level: 20 %>
      </div>
      <div class = "col hide-on-small-only m1">
        <%= render 'scrollspy', tiers: @level_19, level: 19 %>
      </div>
    </div>
  </div>
</div>

<% if can? :manage, @user %>
  <%= javascript_tag do %>

    $(document).ready(function(){
      $('ul.tabs').tabs('select_tab', 'tab_id');
    });

    function update_clear(difficulty, current_id){
      $.post(
        '/userstats/update.json',
        { user_id: <%= @user.id %>, diff_id: current_id },
        function(data){
          difficulty.className = data.clear;
        }
      )
    }
  <% end %>
<% end %>