  <div class="container">
    <div class = "row" style="height:100px">
      <div class = "col s8 offset-s2">
        <center><h2><%= @user.display_name %></h2></center>
      </div>
    </div>
    <div class = "row">
      <div class = "col s12 m10 offset-m1">
        <ul class="tabs tabs-fixed-width" id="level">
          <li class="tab"><a href="#tab-1" class="active">Level 15</a></li>
          <li class="tab"><a href="#tab-2">Level 16</a></li>
          <li class="tab"><a href="#tab-3">Level 17</a></li>
          <li class="tab"><a href="#tab-4">Level 18</a></li>
          <li class="tab"><a href="#tab-5">Level 19 - 20</a></li>
          <li class="tab"><a href="#tab-6">SKILL ANALYZER</a></li>
        </ul>
      </div>
    </div>
    <div class = "row">
      <div class = "col hide-on-small-only m1">
      <%= render 'instructions' %>
      </div>
      <div id="tab-1">
        <div class = "col s12 m10 offset">
          <%= render 'userstatview', tiers: @level_15, level: 15 %>
        </div>
        <div class = "col hide-on-small-only m1">
          <%= render 'scrollspy', tiers: @level_15, level: 15 %>
        </div>
      </div>
      <div id="tab-2">
        <div class="col s12 m10">
          <%= render 'userstatview', tiers: @level_16, level: 16 %>
        </div>
        <div class = "col hide-on-small-only m1">
          <%= render 'scrollspy', tiers: @level_16, level: 16 %>
        </div>
      </div>
      <div id="tab-3">
        <div class="col s12 m10">
          <%= render 'userstatview', tiers: @level_17, level: 17 %>
        </div>
        <div class = "col hide-on-small-only m1">
          <%= render 'scrollspy', tiers: @level_17, level: 17 %>
        </div>
      </div>
      <div id="tab-4">
        <div class="col s12 m10">
          <%= render 'userstatview', tiers: @level_18, level: 18 %>
        </div>
        <div class = "col hide-on-small-only m1">
          <%= render 'scrollspy', tiers: @level_18, level: 18 %>
        </div>
      </div>
      <div id="tab-5">
        <div class="col s12 m10">
          <%= render 'userstatview', tiers: @level_19, level: 19 %>
          <%= render 'userstatview', tiers: @level_20, level: 20 %>
        </div>
        <div class = "col hide-on-small-only m1">
          <%= render 'scrollspylast', tier19: @level_19, level19: 19, tier20: @level_20, level20: 20 %>
        </div>
      </div>
      <div id="tab-6">
        <div class="col s12 m10">
          <%= render 'dans', dans: @dans_default %>
        </div>
        <div class = "col hide-on-small-only m1">
          <%= render 'scrollspydan', dans: @dans_default %>
        </div>
      </div>
    </div>
  </div>
</div>
<% if can? :manage, @user %>
  <%= javascript_tag do %>
    var tag = 0;

    var score_assets=[
      "<%= asset_url "grades/not_played.png" %>",
      "<%= asset_url "grades/D.png" %>",
      "<%= asset_url "grades/C.png" %>",
      "<%= asset_url "grades/B.png" %>",
      "<%= asset_url "grades/A.png" %>",
      "<%= asset_url "grades/Aplus.png" %>",
      "<%= asset_url "grades/AA.png" %>",
      "<%= asset_url "grades/AAplus.png" %>",
      "<%= asset_url "grades/AAA.png" %>",
      "<%= asset_url "grades/AAAplus.png" %>",
      "<%= asset_url "grades/S.png" %>"
    ];

    function fuckthis(){
      return false;
    }

    function change_status(button){
      var button_class_name = button.className;
      var all_buttons = document.getElementsByClassName(button_class_name);
      if(tag == 0){
        for(var x = 0; x < all_buttons.length; x++){
          all_buttons[x].text = "Score";
        }
        tag = 1;
      }
      else{
        for(var x = 0; x < all_buttons.length; x++){
          all_buttons[x].text = "Clear";
        }
        tag = 0;
      }
    }

    function update(diff, current_id){
      if(tag == 0){
        $.post(
          '/userstats/update_clear.json',
          { userstat:
            {
              user_id: <%= @user.id %>, difficulty_id: current_id
            }
          },
          function(data){
            diff.getElementsByTagName('img')[0].className = data.clear;
          }
        )
      }
      else{
        $.post(
          '/userstats/update_score.json',
          { userstat:
            {
              user_id: <%= @user.id %>, difficulty_id: current_id
            }
          },
          function(data){
            diff.getElementsByTagName('img')[2].src = score_assets[str_to_int(data.score)];
          }
        )
      }
    }

    function dan_update(dan, current_id){
      if(tag == 0){
        $.post(
          '/danstats/update_clear.json',
          { danstat:
            {
              user_id: <%= @user.id %>, dan_id: current_id
            }
          },
          function(data){
            dan.className = data.clear;
          }
        )
      }
      else{
        $.post(
          '/danstats/update_score.json',
          { danstat:
            {
              user_id: <%= @user.id %>, dan_id: current_id
            }
          },
          function(data){
            dan.getElementsByTagName('img')[6].src = score_assets[str_to_int(data.score)];
          }
        )
      }      
    }

    function str_to_int(grade){
      if(grade == "not_played") return 0;
      if(grade == "D") return 1;
      if(grade == "C") return 2;
      if(grade == "B") return 3;
      if(grade == "A") return 4;
      if(grade == "Aplus") return 5;
      if(grade == "AA") return 6;
      if(grade == "AAplus") return 7;
      if(grade == "AAA") return 8;
      if(grade == "AAAplus") return 9;
      return 10;
    }
  <% end %>
<% end %>