<p id="notice"><%= notice %></p>

<div class="container">
  <h2>Level 19</h2>
  <% @userstats.each do |userstat| %>
    <span class="parent">
      <img class=<%= userstat.clear %>
           src= <%= asset_url "song/#{userstat.difficulty.photo}" %>
           onclick="update_clear(this, <%= userstat.id %>)"
      />
    </span>
  <% end %>
</div>

<%= link_to 'Edit Credentials', edit_user_path(@user) %>

<%= javascript_tag do %>

  function update_clear(difficulty, current_id){
    $.post(
      '/userstats/update.json',
      { id: current_id },
      function(data){
        difficulty.className = data.clear
      }
    )
  }
<% end %>