<%= form_for(difficulty) do |f| %>
  <% if difficulty.errors.any? %>
    <% difficulty.errors.full_messages.each do |message| %>
      <script>
        $(function() {
            Materialize.toast('<%= message %>', 15000, 'red');
        });
      </script>
    <% end %>
  <% end %>

  <div class="field">
    <%= f.label :song_id %>
    <%= f.number_field :song_id %>
  </div>

  <div class="field">
    <%= f.label :difficulty_name %>
    <%= f.text_field :difficulty_name %>
  </div>

  <div class="field">
    <%= f.label :level %>
    <%= f.number_field :level %>
  </div>

  <div class="field">
    <%= f.label :photo %>
    <%= f.text_field :photo %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
