<div class="container">
	<div class="row">
		<div class="col s12 m4 offset-m2 center-align">
			<img src = <%= asset_url "song#{@difficulty.photo}" %> />
		</div>
		<div class="col s12 m3 l6 offset-m1">
			<h3><%= @difficulty.song_name %></h3>
			<%= @difficulty.tag_to_string %> <%= @difficulty.level %>
		</div>
	</div>
	<% if @difficulty.id == 1810 %>
		<div class="row">
			<div class="col s12">
				<center>
				<h5>Comments are disabled for this song because PEOPLE CAN'T STOP ARGUING ABOUT THIS DAMN SONG.</h5>
				<img src= <%= asset_url "random_assets/no_mercy.png" %> />
				<h5>THANK YOU.</h5></center>
			</div>
		</div>
	<% elsif @approved_comments.nil? %>
		<div class="row">

			</div>
	<% else %>
		<div class="row">
			<form>
		        <div class="input-field col s12 m8 l6 offset-m2 offset-l3">
		          <textarea id="textarea1" class="materialize-textarea" data-length="500"></textarea>
		          <label for="textarea1">Leave a comment.</label>
		        </div>
		        <div class="col s12 m8 l6 offset-m2 offset-l3 right-align">
		          <a class="waves-effect waves-light btn" onclick="submit_comment()">Submit
				    <i class="material-icons right">send</i>
				  </a>
		        </div>
		    </form>
		</div>
		<%= render 'comments', comments: @approved_comments %>
	<% end %>
</div>
<%= javascript_tag do %>
	function submit_comment(){
		var comment_text = document.getElementById("textarea1").value;
		$.post(
          '/comments/create.json',
          {
          	comment:
          	{
	          	user_id: <%= current_user.id %>,
	          	difficulty_id: <%= @difficulty.id %>,
	          	content: comment_text
	        }
          },
          function(){
          	window.location.reload();
          }
        )
	}
	function upvote(id){
		window.alert(id);
		$.post(
          '/comments/upvote.json',
          {
          	comment:
          	{
	          	user_id: <%= current_user.id %>,
	          	difficulty_id: <%= @difficulty.id %>,
	          	id: id
	        }
          },
          function(){
          	window.location.reload();
          }
        )
	}
	function downvote(id){
		$.post(
          '/comments/downvote.json',
          {
          	comment:
          	{
	          	user_id: <%= current_user.id %>,
	          	difficulty_id: <%= @difficulty.id %>,
	          	id: id
	        }
          },
          function(){
          	window.location.reload();
          }
        )
	}
<% end %>