<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dan.name %>
</p>

<p>
  <strong>Level:</strong>
  <%= @dan.level %>
</p>

<p>
  <strong>First song:</strong>
  <%= @dan.first_song_id %>
</p>

<p>
  <strong>Second song:</strong>
  <%= @dan.second_song_id %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @dan.integer %>
</p>

<p>
  <strong>Third song:</strong>
  <%= @dan.third_song_id %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @dan.integer %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @dan.photo %>
</p>

<%= link_to 'Edit', edit_dan_path(@dan) %> |
<%= link_to 'Back', dans_path %>
