<!DOCTYPE html>
<html>
  <head>
    <title>Clearvoltex</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<nav> 
  <div class="nav-wrapper">
    <a href="index.html" class="brand-logo">ClearVoltex</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if logged_in? %>
        <li><%= link_to "Log out", logout_path, method: "delete"%></li>
      <% else %>
        <li><%= link_to "Log in", login_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
    <%= yield %>
  </body>
</html>
